USE [master]
GO
/****** Object:  Database [IT_Asset_Management]    Script Date: 7/29/2026 10:52:37 AM ******/
CREATE DATABASE [IT_Asset_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IT_Asset_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\IT_Asset_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IT_Asset_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\IT_Asset_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IT_Asset_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IT_Asset_Management]
GO
/****** Object:  Table [dbo].[Asset_Master_E]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Master_E](
	[Asset_ID] [varchar](50) NOT NULL,
	[Asset_Name] [varchar](150) NOT NULL,
	[Asset_Type] [varchar](100) NOT NULL,
	[Status_Flag] [varchar](50) NOT NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Asset_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_Master_Employees]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Master_Employees](
	[Record_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NOT NULL,
	[EmployeeName] [varchar](150) NOT NULL,
	[Department] [varchar](100) NOT NULL,
	[Designation] [varchar](150) NOT NULL,
	[GradeLevel] [varchar](10) NOT NULL,
	[MobileNo] [varchar](15) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Record_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetDisposal]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetDisposal](
	[SR] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [varchar](50) NOT NULL,
	[ScrapReason] [varchar](150) NOT NULL,
	[RecoveryValue] [decimal](10, 2) NOT NULL,
	[DisposalDate] [date] NOT NULL,
	[ApprovedBy] [varchar](100) NOT NULL,
	[Status] [varchar](30) NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetDisposalLogs]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetDisposalLogs](
	[Disposal_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [varchar](50) NOT NULL,
	[ScrapReason] [varchar](255) NOT NULL,
	[ApprovedByHOD] [varchar](150) NOT NULL,
	[RecoveryValue] [varchar](50) NOT NULL,
	[DisposalDate] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Disposal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Independent_Asset_BuyBack]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Independent_Asset_BuyBack](
	[BuyBack_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NOT NULL,
	[EmployeeName] [varchar](100) NULL,
	[AssetSerialNo] [varchar](100) NOT NULL,
	[AssetType] [varchar](50) NULL,
	[BuyBackAmount] [decimal](10, 2) NULL,
	[ApprovalStatus] [varchar](50) NULL,
	[ApplicationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BuyBack_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Independent_Deptwise_Reports]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Independent_Deptwise_Reports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Department] [varchar](150) NULL,
	[HodIncharge] [varchar](100) NULL,
	[ItAmbassador] [varchar](100) NULL,
	[TotalQty] [int] NULL,
	[ReceivedOn] [varchar](50) NULL,
	[UpdatedOn] [varchar](50) NULL,
	[StatusFlag] [varchar](50) NULL,
	[Remark] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Independent_Dues_Pending]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Independent_Dues_Pending](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NULL,
	[EmployeeName] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
	[PendingAsset] [varchar](150) NULL,
	[AssetSerialNo] [varchar](100) NULL,
	[TransferRetireDate] [varchar](50) NULL,
	[DuesAmount] [decimal](10, 2) NULL,
	[ActionRequired] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Independent_Overall_Reports]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Independent_Overall_Reports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetType] [varchar](100) NULL,
	[MakeModelLot] [varchar](150) NULL,
	[PoQty] [int] NULL,
	[ActiveQty] [int] NULL,
	[DisposedQty] [int] NULL,
	[TypeTotal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Independent_Special_Access]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Independent_Special_Access](
	[Access_ID] [int] IDENTITY(1,1) NOT NULL,
	[OfficerName] [varchar](100) NULL,
	[Designation] [varchar](100) NULL,
	[AccessLevel] [varchar](50) NULL,
	[AssignedPrivilege] [varchar](255) NULL,
	[SecurityKey] [varchar](50) NULL,
	[MobileNo] [varchar](15) NULL,
	[Password] [varchar](100) NULL,
	[LastLoginStatus] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Access_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Independent_User_Assets]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Independent_User_Assets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NOT NULL,
	[EmployeeName] [varchar](100) NULL,
	[Department] [varchar](50) NULL,
	[HodIncharge] [varchar](100) NULL,
	[ItAmbassador] [varchar](100) NULL,
	[AssetSerialNo] [varchar](100) NULL,
	[AssetType] [varchar](50) NULL,
	[AssetNameModel] [varchar](100) NULL,
	[ObsoleteFlag] [varchar](10) NULL,
	[ObsoleteDate] [varchar](50) NULL,
	[AssetSpecification] [nvarchar](500) NULL,
	[Remark] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceLogs]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceLogs](
	[Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [varchar](50) NOT NULL,
	[FaultDescription] [varchar](255) NOT NULL,
	[ServiceVendor] [varchar](150) NOT NULL,
	[RepairCost] [decimal](10, 2) NOT NULL,
	[ExpectedReturn] [date] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Asset_Record_E]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Asset_Record_E](
	[Serial_ID] [int] IDENTITY(1,1) NOT NULL,
	[Asset_Serial_No] [varchar](100) NOT NULL,
	[PO_Number] [varchar](100) NOT NULL,
	[Grade_Code] [varchar](50) NOT NULL,
	[Warranty_Expiry] [date] NOT NULL,
	[Node_Status] [varchar](50) NOT NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Serial_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor_Master]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor_Master](
	[Vendor_ID] [varchar](50) NOT NULL,
	[Vendor_Name] [varchar](150) NOT NULL,
	[Contact] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vendor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor_Master_E]    Script Date: 7/29/2026 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor_Master_E](
	[Vendor_ID] [varchar](50) NOT NULL,
	[Vendor_Name] [varchar](150) NOT NULL,
	[Contact_No] [varchar](50) NOT NULL,
	[Status_Flag] [varchar](50) NOT NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vendor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Asset_Master_E] ([Asset_ID], [Asset_Name], [Asset_Type], [Status_Flag], [Created_At]) VALUES (N'1', N'Lost', N'y', N'Disposed', CAST(N'2026-07-22T17:36:51.750' AS DateTime))
INSERT [dbo].[Asset_Master_E] ([Asset_ID], [Asset_Name], [Asset_Type], [Status_Flag], [Created_At]) VALUES (N'100456', N'Shikha', N'Operation Department', N'Manager', CAST(N'2026-07-21T20:09:02.637' AS DateTime))
INSERT [dbo].[Asset_Master_E] ([Asset_ID], [Asset_Name], [Asset_Type], [Status_Flag], [Created_At]) VALUES (N'107', N'Shyam', N'pc', N'Maintenance', CAST(N'2026-07-14T17:24:28.650' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Asset_Master_Employees] ON 

INSERT [dbo].[Asset_Master_Employees] ([Record_ID], [EmployeeID], [EmployeeName], [Department], [Designation], [GradeLevel], [MobileNo], [CreatedAt]) VALUES (1, N'100456', N'Shikha', N'Operation Department', N'Manager', N'E2', N'1234567890', CAST(N'2026-07-21T20:16:09.263' AS DateTime))
INSERT [dbo].[Asset_Master_Employees] ([Record_ID], [EmployeeID], [EmployeeName], [Department], [Designation], [GradeLevel], [MobileNo], [CreatedAt]) VALUES (3, N'100451', N'priya', N'Electrical Maintenance', N'Manager', N'E2', N'9876543210', CAST(N'2026-07-22T17:13:10.007' AS DateTime))
INSERT [dbo].[Asset_Master_Employees] ([Record_ID], [EmployeeID], [EmployeeName], [Department], [Designation], [GradeLevel], [MobileNo], [CreatedAt]) VALUES (6, N'100467', N'Priya Sharma', N'Human Resources (HR)', N'Manager', N'E2', N'1234567890', CAST(N'2026-07-22T20:37:52.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[Asset_Master_Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetDisposal] ON 

INSERT [dbo].[AssetDisposal] ([SR], [AssetID], [ScrapReason], [RecoveryValue], [DisposalDate], [ApprovedBy], [Status], [Created_At]) VALUES (1, N'', N'', CAST(0.00 AS Decimal(10, 2)), CAST(N'1900-01-01' AS Date), N'', N'Disposed', CAST(N'2026-07-15T11:24:25.550' AS DateTime))
INSERT [dbo].[AssetDisposal] ([SR], [AssetID], [ScrapReason], [RecoveryValue], [DisposalDate], [ApprovedBy], [Status], [Created_At]) VALUES (2, N'', N'', CAST(0.00 AS Decimal(10, 2)), CAST(N'1900-01-01' AS Date), N'', N'Disposed', CAST(N'2026-07-15T11:25:20.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[AssetDisposal] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetDisposalLogs] ON 

INSERT [dbo].[AssetDisposalLogs] ([Disposal_ID], [AssetID], [ScrapReason], [ApprovedByHOD], [RecoveryValue], [DisposalDate], [CreatedAt]) VALUES (1, N'1', N'Damaged', N'yes', N'600', N'2026-07-22', CAST(N'2026-07-22T20:32:11.333' AS DateTime))
INSERT [dbo].[AssetDisposalLogs] ([Disposal_ID], [AssetID], [ScrapReason], [ApprovedByHOD], [RecoveryValue], [DisposalDate], [CreatedAt]) VALUES (2, N'123', N'Damaged', N'MR. VERMA', N'900', N'2026-07-22', CAST(N'2026-07-22T21:00:58.173' AS DateTime))
INSERT [dbo].[AssetDisposalLogs] ([Disposal_ID], [AssetID], [ScrapReason], [ApprovedByHOD], [RecoveryValue], [DisposalDate], [CreatedAt]) VALUES (3, N'456', N'Damaged', N'mr. verma', N'800', N'2026-08-08', CAST(N'2026-07-22T21:15:18.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[AssetDisposalLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Independent_Asset_BuyBack] ON 

INSERT [dbo].[Independent_Asset_BuyBack] ([BuyBack_ID], [EmployeeID], [EmployeeName], [AssetSerialNo], [AssetType], [BuyBackAmount], [ApprovalStatus], [ApplicationDate]) VALUES (1, N'100245', N'Amit Kumar', N'NTPC LE 325', N'Laptop', CAST(5000.00 AS Decimal(10, 2)), N'Approved', CAST(N'2026-07-19T18:05:31.387' AS DateTime))
INSERT [dbo].[Independent_Asset_BuyBack] ([BuyBack_ID], [EmployeeID], [EmployeeName], [AssetSerialNo], [AssetType], [BuyBackAmount], [ApprovalStatus], [ApplicationDate]) VALUES (2, N'100245', N'Amit Kumar', N'NTPC LE 325', N'Desktop', CAST(5000.00 AS Decimal(10, 2)), N'Approved', CAST(N'2026-07-19T18:16:31.703' AS DateTime))
INSERT [dbo].[Independent_Asset_BuyBack] ([BuyBack_ID], [EmployeeID], [EmployeeName], [AssetSerialNo], [AssetType], [BuyBackAmount], [ApprovalStatus], [ApplicationDate]) VALUES (3, N'100245', N'Amit Kumar', N'NTPC LE 325', N'Desktop', CAST(5000.00 AS Decimal(10, 2)), N'Approved', CAST(N'2026-07-20T16:43:21.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[Independent_Asset_BuyBack] OFF
GO
SET IDENTITY_INSERT [dbo].[Independent_Deptwise_Reports] ON 

INSERT [dbo].[Independent_Deptwise_Reports] ([ID], [Department], [HodIncharge], [ItAmbassador], [TotalQty], [ReceivedOn], [UpdatedOn], [StatusFlag], [Remark]) VALUES (1, N'C&I (Control & Instrumentation)', N'S.K. Verma', N'Ankit Mishra', 105, N'10/01/2026', N'12/05/2026', N'Active', N'All site nodes active')
INSERT [dbo].[Independent_Deptwise_Reports] ([ID], [Department], [HodIncharge], [ItAmbassador], [TotalQty], [ReceivedOn], [UpdatedOn], [StatusFlag], [Remark]) VALUES (2, N'Operation Department', N'R.K. Joshi', N'Sumit Saini', 131, N'14/01/2026', N'10/06/2026', N'Active', N'Control room setups ok')
INSERT [dbo].[Independent_Deptwise_Reports] ([ID], [Department], [HodIncharge], [ItAmbassador], [TotalQty], [ReceivedOn], [UpdatedOn], [StatusFlag], [Remark]) VALUES (3, N'Human Resources (HR)', N'V.K. Singh', N'Rahul Sharma', 40, N'02/02/2026', N'18/04/2026', N'Active', N'Office laptops synced')
SET IDENTITY_INSERT [dbo].[Independent_Deptwise_Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Independent_Dues_Pending] ON 

INSERT [dbo].[Independent_Dues_Pending] ([ID], [EmployeeID], [EmployeeName], [Department], [PendingAsset], [AssetSerialNo], [TransferRetireDate], [DuesAmount], [ActionRequired]) VALUES (1, N'100112', N'Rajesh Kumar', N'Operation Department', N'HP ProBook Laptop', N'NTPC-LP-8844', N'25/07/2026', CAST(0.00 AS Decimal(10, 2)), N'Recovery Pending')
INSERT [dbo].[Independent_Dues_Pending] ([ID], [EmployeeID], [EmployeeName], [Department], [PendingAsset], [AssetSerialNo], [TransferRetireDate], [DuesAmount], [ActionRequired]) VALUES (2, N'100344', N'Anjali Sharma', N'Human Resources (HR)', N'iPad Air Tablet', N'NTPC-TB-1122', N'31/07/2026', CAST(0.00 AS Decimal(10, 2)), N'Recovery Pending')
INSERT [dbo].[Independent_Dues_Pending] ([ID], [EmployeeID], [EmployeeName], [Department], [PendingAsset], [AssetSerialNo], [TransferRetireDate], [DuesAmount], [ActionRequired]) VALUES (3, N'100223', N'Suresh Meena', N'C&I Maintenance', N'Dell Desktop System', N'NTPC-DS-9900', N'15/08/2026', CAST(0.00 AS Decimal(10, 2)), N'Recovery Pending')
SET IDENTITY_INSERT [dbo].[Independent_Dues_Pending] OFF
GO
SET IDENTITY_INSERT [dbo].[Independent_Overall_Reports] ON 

INSERT [dbo].[Independent_Overall_Reports] ([ID], [AssetType], [MakeModelLot], [PoQty], [ActiveQty], [DisposedQty], [TypeTotal]) VALUES (1, N'Laptop', N'HP ProBook 440 (Lot-01)', 120, 114, 6, 114)
INSERT [dbo].[Independent_Overall_Reports] ([ID], [AssetType], [MakeModelLot], [PoQty], [ActiveQty], [DisposedQty], [TypeTotal]) VALUES (2, N'Laptop', N'Lenovo ThinkPad L14 (Lot-02)', 80, 80, 0, 80)
INSERT [dbo].[Independent_Overall_Reports] ([ID], [AssetType], [MakeModelLot], [PoQty], [ActiveQty], [DisposedQty], [TypeTotal]) VALUES (3, N'Desktop', N'Dell OptiPlex 3090 (Lot-01)', 200, 185, 15, 185)
SET IDENTITY_INSERT [dbo].[Independent_Overall_Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Independent_Special_Access] ON 

INSERT [dbo].[Independent_Special_Access] ([Access_ID], [OfficerName], [Designation], [AccessLevel], [AssignedPrivilege], [SecurityKey], [MobileNo], [Password], [LastLoginStatus]) VALUES (1, N'Shikha Sharma', N'Core System Engineer', N'System Admin', N'Master Configuration & Log Extraction Engine Override Rights', N'NTPC-SEC-008', N'9876543210', N'Shikha@08', N'Active Now')
INSERT [dbo].[Independent_Special_Access] ([Access_ID], [OfficerName], [Designation], [AccessLevel], [AssignedPrivilege], [SecurityKey], [MobileNo], [Password], [LastLoginStatus]) VALUES (2, N'M.K. Bhatt', N'AGM (IT Infrastructure)', N'Super Admin', N'Full Plant Asset Database Write, Modify & Purge Access', N'NTPC-SEC-991', N'9988776655', N'991', N'Active Now')
SET IDENTITY_INSERT [dbo].[Independent_Special_Access] OFF
GO
SET IDENTITY_INSERT [dbo].[Independent_User_Assets] ON 

INSERT [dbo].[Independent_User_Assets] ([ID], [EmployeeID], [EmployeeName], [Department], [HodIncharge], [ItAmbassador], [AssetSerialNo], [AssetType], [AssetNameModel], [ObsoleteFlag], [ObsoleteDate], [AssetSpecification], [Remark]) VALUES (1, N'100245', N'Amit Kumar', N'HR', N'V.K. Singh', N'Rahul Sharma', N'NTPC-LP-8849', N'Laptop', N'HP EliteBook 840', N'NO', N'-', N'i5, 16GB RAM, 512GB SSD', N'New laptop issued')
INSERT [dbo].[Independent_User_Assets] ([ID], [EmployeeID], [EmployeeName], [Department], [HodIncharge], [ItAmbassador], [AssetSerialNo], [AssetType], [AssetNameModel], [ObsoleteFlag], [ObsoleteDate], [AssetSpecification], [Remark]) VALUES (2, N'100245', N'Amit Kumar', N'HR', N'V.K. Singh', N'Rahul Sharma', N'NTPC-PR-1122', N'Printer', N'HP LaserJet M1005', N'NO', N'-', N'Monochrome Laser', N'Shared with cabin')
INSERT [dbo].[Independent_User_Assets] ([ID], [EmployeeID], [EmployeeName], [Department], [HodIncharge], [ItAmbassador], [AssetSerialNo], [AssetType], [AssetNameModel], [ObsoleteFlag], [ObsoleteDate], [AssetSpecification], [Remark]) VALUES (3, N'100245', N'Amit Kumar', N'HR', N'V.K. Singh', N'Rahul Sharma', N'NTPC-DK-4432', N'Desktop', N'Dell OptiPlex 3090', N'YES', N'10/05/2026', N'Core i3, 4GB RAM', N'Old CPU - Scrap')
SET IDENTITY_INSERT [dbo].[Independent_User_Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceLogs] ON 

INSERT [dbo].[MaintenanceLogs] ([Log_ID], [AssetID], [FaultDescription], [ServiceVendor], [RepairCost], [ExpectedReturn], [CreatedAt]) VALUES (1, N'C101992', N'Display Flickering & Screen Replacement', N'HP Commercial Repair Lab', CAST(4500.00 AS Decimal(10, 2)), CAST(N'2026-08-05' AS Date), CAST(N'2026-07-21T20:26:20.003' AS DateTime))
INSERT [dbo].[MaintenanceLogs] ([Log_ID], [AssetID], [FaultDescription], [ServiceVendor], [RepairCost], [ExpectedReturn], [CreatedAt]) VALUES (2, N'123456', N'broken', N'HP Commercial Repair Lab', CAST(5000.00 AS Decimal(10, 2)), CAST(N'2026-07-21' AS Date), CAST(N'2026-07-21T20:27:19.810' AS DateTime))
INSERT [dbo].[MaintenanceLogs] ([Log_ID], [AssetID], [FaultDescription], [ServiceVendor], [RepairCost], [ExpectedReturn], [CreatedAt]) VALUES (3, N'C456', N'RAM UPGRADE', N'Wipro Maintenance Center', CAST(600.00 AS Decimal(10, 2)), CAST(N'2026-07-22' AS Date), CAST(N'2026-07-22T20:40:25.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[MaintenanceLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction_Asset_Record_E] ON 

INSERT [dbo].[Transaction_Asset_Record_E] ([Serial_ID], [Asset_Serial_No], [PO_Number], [Grade_Code], [Warranty_Expiry], [Node_Status], [Created_At]) VALUES (1, N'12345', N'45678', N'E1', CAST(N'2026-07-12' AS Date), N'In-Transit', CAST(N'2026-07-12T18:16:23.807' AS DateTime))
INSERT [dbo].[Transaction_Asset_Record_E] ([Serial_ID], [Asset_Serial_No], [PO_Number], [Grade_Code], [Warranty_Expiry], [Node_Status], [Created_At]) VALUES (3, N'345678', N'12345', N'E3', CAST(N'2026-07-12' AS Date), N'In-Transit', CAST(N'2026-07-12T18:17:07.993' AS DateTime))
INSERT [dbo].[Transaction_Asset_Record_E] ([Serial_ID], [Asset_Serial_No], [PO_Number], [Grade_Code], [Warranty_Expiry], [Node_Status], [Created_At]) VALUES (5, N'122345', N'4567', N'E3', CAST(N'2026-07-14' AS Date), N'In-Transit', CAST(N'2026-07-14T17:25:13.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transaction_Asset_Record_E] OFF
GO
INSERT [dbo].[Vendor_Master_E] ([Vendor_ID], [Vendor_Name], [Contact_No], [Status_Flag], [Created_At]) VALUES (N'102', N'123', N'123', N'Active', CAST(N'2026-07-10T16:44:44.333' AS DateTime))
INSERT [dbo].[Vendor_Master_E] ([Vendor_ID], [Vendor_Name], [Contact_No], [Status_Flag], [Created_At]) VALUES (N'109', N'XYZ', N'9876543210', N'Inactive', CAST(N'2026-07-22T20:38:26.327' AS DateTime))
INSERT [dbo].[Vendor_Master_E] ([Vendor_ID], [Vendor_Name], [Contact_No], [Status_Flag], [Created_At]) VALUES (N'A-101', N'XYZ', N'9876543210', N'Active', CAST(N'2026-07-08T17:43:18.090' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Asset_Ma__7AD04FF0E748CD49]    Script Date: 7/29/2026 10:52:38 AM ******/
ALTER TABLE [dbo].[Asset_Master_Employees] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Independ__EBAA97C3442906A1]    Script Date: 7/29/2026 10:52:38 AM ******/
ALTER TABLE [dbo].[Independent_Special_Access] ADD UNIQUE NONCLUSTERED 
(
	[SecurityKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Transact__20F0216838224EE9]    Script Date: 7/29/2026 10:52:38 AM ******/
ALTER TABLE [dbo].[Transaction_Asset_Record_E] ADD UNIQUE NONCLUSTERED 
(
	[Asset_Serial_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asset_Master_E] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Asset_Master_Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AssetDisposal] ADD  DEFAULT ((0.00)) FOR [RecoveryValue]
GO
ALTER TABLE [dbo].[AssetDisposal] ADD  DEFAULT ('Disposed') FOR [Status]
GO
ALTER TABLE [dbo].[AssetDisposal] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[AssetDisposalLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Independent_Asset_BuyBack] ADD  DEFAULT ('Pending') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[Independent_Asset_BuyBack] ADD  DEFAULT (getdate()) FOR [ApplicationDate]
GO
ALTER TABLE [dbo].[Independent_Dues_Pending] ADD  DEFAULT ((0.00)) FOR [DuesAmount]
GO
ALTER TABLE [dbo].[Independent_Dues_Pending] ADD  DEFAULT ('Recovery Pending') FOR [ActionRequired]
GO
ALTER TABLE [dbo].[Independent_Special_Access] ADD  DEFAULT ('Logged Out') FOR [LastLoginStatus]
GO
ALTER TABLE [dbo].[MaintenanceLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transaction_Asset_Record_E] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Vendor_Master] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Vendor_Master_E] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
USE [master]
GO
